@page "/eusers/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">Eusers</h3>
<br />

<a href="/eusers/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Euser
</a>
<br />
<br />

@if (Eusers == null)
{
    <div class="alert alert-info">Loading Eusers...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var euser in Eusers)
            {
                <tr>
                    <td>@euser.Name</td>
                    <td>
                        <a href="/eusers/view/@euser.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/eusers/edit/@euser.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(euser.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Euser> Eusers;

    protected async override Task OnInitializedAsync()
    {
        Eusers = await _client.GetFromJsonAsync<List<Euser>>($"{Endpoints.EusersEndpoint}");
    }

    async Task Delete(int euserId)
    {
        var euser = Eusers.First(q => q.Id == euserId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {euser.Name}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.EusersEndpoint}/{euserId}");
            await OnInitializedAsync();
        }
    }
}
